.container-fluid
  = render layout: 'form' do |f|
    .col-md-6
      %h2= t(:delivery)
      .row
        .col-md-10
          .form-group
            = f.collection_radio_buttons :delivery, as: :radio_buttons
          