%h4 ORDER R123456789
%table.table
  %thead
    %tr
      %th= t(:sh_address)
      %th= t(:bill_address)
      %th= t(:shipments)
      %th= t(:pay_info)
  %tbody
    %tr
      %td
      
      %td
      
      %td
      
      %td
        
    
         
