.container-fluid
  %ol.breadcrumb
    %li= link_to 'Home', root_path
    %li= link_to 'Shop', books_path
    %li.active= @category.title
  %h3= @category.title
  .row
    =render "books/books"
    =render 'categories/categories'